.maindiv{
    background-color: #050345; 
    background-image: url("/public/Images/recruit_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    width:100%; 
    height: 88vh;
    display:flex; 
    flex-direction: row;
   
    
}

.divimg{
    width:500px; 
    height:700px; 
}

